{% extends "base_template.html" %}

{% block title %}Home{% endblock %}

{% block body %}

<div  style="margin:0 auto; width: 500px">
        <div align="center">
                <br>
                <h1>Objetivo</h1>
                <br>
                <img src="../../static/capa.png" alt="capa do projeto" width="300" height="250" >
                <br>
                <br>
                <p>
                        No reino de Hyrule, o Lon Lon Ranch é responsável pela produção do melhor leite conhecido,
                        por causa disso ele vem recebendo muitos pedidos. Sua dona Malon está com problemas para 
                        administrar qual entrega é mais lucrativa para assim ser priorizada pois seu pai é só 
                        possui uma carroça. Além disso ela também gostaria da saber a menor rota  até os pontos
                        de entrega, Vamos ajuda-la!
                </p>
                <h5>Use a navbar para encontrar os problemas</h5>
        </div>
</div>

                </br>
                </br>
                </br>
                {% endblock %}
